  
 @media only screen and (min-width: 0px) { 
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
   header {
    background-color: antiquewhite;
   }

   .logo-title {
    display: flex;
    justify-content: center;
  }

  #title {
    margin-top: 50px;
    color: rgb(16, 35, 39);
  }
  

   li {
    list-style: none;
   }

   a {
    color: white;
    text-decoration: none;
   }

   .navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 24px;
   }

   .nav-link {
    transform: 0.7s ease;
   }

   .nav-link:hover {
    color: rgb(32, 131, 151);
   }


  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;

  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 180px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(16, 35, 39);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 20pt;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;

  }
  .social-footer {
    display: flex;
    justify-content: space-between;
    color:antiquewhite;
    background-color: rgb(16, 35, 39) ;
    margin-top: 5%;
  }
  
  .social-footer-left {
    align-items: baseline;
    margin: 30pt 30pt;
    line-height: 22px;
    font-size: 20px;
  }
  
  .fa {
    padding: 30pt;
    font-size: 20px;
    color: white;
  }
  
  .fa:hover {
    opacity: .7;
  }
  
  footer a:visited {
    color: whitesmoke;
  }
  
  
}
  
  @media only screen and (min-width: 768px) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* padding-top: 3%; */
    background-color: whitesmoke;
    font-family: 'Alfa Slab One';
    font-size: 20px;
    color: rgb(16, 35, 39)

  }

  .hamburger {
    display: none;
  }

  header li {
    display: inline;
  
  }

  header li a {
    color: rgb(16, 35, 39);
    text-decoration: none;
  }


    .nav-menu {
      position: fixed;
      left: 0%;
      gap: 0;
      background-color: whitesmoke;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding-top: 0pt;
    }


  
  .nav-item {
    margin: 0pt 15pt;
  }
  .nav-branding {
    display: none;
  }

  #logo-container {
    width: 130px;
    background-image: url(./Images/logo.png);
    background-size: 100%;
    margin-right: 5%;
    background-repeat: no-repeat;
   
  }

  .logo-title {
    margin-top: 3%;
  }

  #title {
    width: 350px;
    margin-top: 10pt;

  }

.social-footer {
  display: flex;
  justify-content: space-between;
  color:antiquewhite;
  background-color: rgb(16, 35, 39) ;
  margin-top: 5%;
}

.social-footer-left {
  align-items: baseline;
  margin: 30pt 30pt;
  line-height: 22px;
  font-size: 20px;
}

.fa {
  padding: 30pt;
  font-size: 20px;
  color: white;
}

.fa:hover {
  opacity: .7;
}

footer a:visited {
  color: whitesmoke;
}

}