
 @media only screen and (max-width: 765px) {
body {
    background-color: whitesmoke;
    color:rgb(10, 22, 24);
}

.content-wrapper {
    width: 100%;
}

.image-background {
    display: none;

}
img {
    width: 80%;
    height: 200px;
    object-fit: contain;
    
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 }

 img:hover {
    filter: brightness(50%);

}


@media only screen and (min-width: 768px) {

    .navbar {
        display: none;
    }
    .image-background {
        display: block;
        height: 125vh;
        background-image: url('/Images/shop-exterior.jpg');
        background-size: 500px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 200px;

    }

    .image-background p, h2 {
        color: antiquewhite;
        width: 40%;
    }

    p {
        font-size: 18px;
    }

    .image-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 10%;
        line-height: 19pt;

        
    }

    .more {
        background-color: rgb(10, 22, 24);
        color: antiquewhite;
        text-decoration: none;
        padding: 5pt 10pt;
        margin-top: 3pt;
        
    }

    .more:hover {
        background-color: rgb(45, 120, 131) 
    }

    img {
        width: 300px;
        height: 200px;
        
    }

    section {
        display: flex;
        justify-content: space-around;
        margin-top: -100px;
        text-align: center;
    }

    }


    
   
